src/main/app/messagesendfrommel.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="triggeringFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/triggerflow" allowedMethods="POST" doc:name="HTTP"/>
        <expression-component doc:name="Send paylod to VM queue"><![CDATA[import org.mule.DefaultMuleMessage;
import org.mule.module.client.MuleClient;

request = new DefaultMuleMessage(payload, app.registry['_muleContext']);
MuleClient client = new MuleClient(app.registry['_muleContext']);
client.send("vm://myqueue", request);]]></expression-component>
        <set-payload value="#[&quot;Forwarded payload to vm://myqueue&quot;]" doc:name="Set Payload"/>
    </flow>
    <flow name="triggeredFlow">
        <vm:inbound-endpoint exchange-pattern="one-way" path="myqueue" doc:name="VM"/>
        <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
